@inject IStringLocalizer<Resources.Resource> Localizer
@inject LocalizationService LocalizationService

<h3 style="margin: 10px 0px 10px 0px">@Localizer["Education"]</h3>
<div>
    @if (educations != null)
    {
        foreach (var education in educations.OrderBy((arg) => arg.sort))
        {
            <h4 style="margin: 15px 0 0 0">@education.description</h4>
            <p style="margin: 0">@education.title</p>
            <h5>@education.years</h5>
        }
    }
</div>


@code {
    [Parameter]
    public required List<Education> educations { get; set; }
}
