<div class="row">
    @if (Collapsed)
    {
        <button @onclick="@Toggle" class="arrow up"/>
    }
    else
    {
        <button @onclick="@Toggle" class="arrow down" />
    }
</div>

@if (!Collapsed)
{
    @ChildContent
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool Collapsed { get; set; }

    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}
