@inject NavigationManager NavManager
@inject ILocalStorageService Localstorage
@inject IStringLocalizer<Resource> Localizer

<div>
    <InputSelect style="outline:none; border:0px solid; font-size:medium; background-color: transparent; color:black; text-decoration:none; opacity:0.8" @bind-Value="UICulture" @onclick="SelectionChanged">
        @foreach (var option in uicultures)
        {
            <option value="@option">@option.DisplayName</option>
        }
    </InputSelect>
</div>

@code 
{
    CultureInfo[] uicultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("fr-FR")
    };

    CultureInfo UICulture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                // Set the culture in LocalStorage
                this.Localstorage.SetItemAsync("currentculture", value.Name);

                #if DEBUG 
                // Load the Current URL
                this.NavManager.NavigateTo("http://localhost:5000/", forceLoad: true);
                #else
                this.NavManager.NavigateTo("http://localhost:5000/", forceLoad: true);
                #endif
            }
        }
    }

    private void SelectionChanged()
    {
    }

    [Parameter]
    public EventCallback<CultureInfo> OnSelectionChanged { get; set; }
}